
<div class="modal-header">
  <h4 class="modal-title">Your History for:</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table datatable class="row-border hover">
    <thead>
    <tr>
      <th>Time</th> 
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let price of pricePoints'>
      <td><div>{{price.timestamp | date:'mediumTime'}}</div></td>
      <td><div>{{price.open | number:'1.2-2'}}</div></td>
      <td><div>{{price.high | number:'1.2-2'}}</div></td>
      <td><div>{{price.low | number:'1.2-2'}}</div></td>
      <td><div>{{price.close | number:'1.2-2'}}</div></td>
    </tr> 
  </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
